%h1.text-center Bienvenido a Vendo Mi Telefono Empresa
%hr

.welcome-main.col-md-12
  .col-md-6
    = link_to "Cotizar Teléfono", new_buy_path
  .col-md-6
    = link_to "Reportes de compras", buys_path

    




  
