.select_phone{
  background-color: #2d9b36;
  color: #fff;
  margin-left: 11.333333%;
}
.select_state{
 background-color: #2d9b36;
 color: #fff; 
}
.phone-value{
 background-color: #2d9b36;
 color: #fff; 
 margin-top: 30px; 
 height: 120px; 
 margin-left: 11.333333%;
}

.phone-total-price{
  text-align: center;
}

.options{
  margin-top: 30px;
}

.form-body-customer{
  margin-left:110px;  
  // background-color: #2d9b36;
  border-style: solid;
  border-width: 4px;
  border-color: #2d9b36;
  color: #fff;
  padding-top: 20px;
  border-radius: 10px;
}



.buy-heading-client{
  width: 33%;
  background-color:#2d9b36;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;

}

.buy-heading-custumer{
  width: 33%;
  background-color:#2d9b36;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.option-button{
  margin-top: 40px;
}

.buy-details-table{
  margin-left:10px;
  margin-top: 20px;
}

.total-value{
  background-color:#2d9b36;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

